# Import Libraries

In [24]:
import pandas as pd
import numpy as np

# Load Data

In [25]:
df=pd.read_csv('glassdoor_jobs.csv')

In [26]:
df.shape

(956, 15)

In [27]:
df.head(5)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [28]:
df.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [29]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [30]:
df.columns
a=df['Salary Estimate']

In [31]:
df['Salary Estimate'].replace('-1',np.nan,inplace=True)
from sklearn.impute import SimpleImputer # Import SimpleImputer  This is Used for Imputing Missing Values

# Proper Way to Remove Null Values
imp = SimpleImputer(strategy="most_frequent")
df['Salary Estimate']=imp.fit_transform(df[['Salary Estimate']])

In [32]:
df['Salary Estimate']=df['Salary Estimate'].str.replace('(Glassdoor est.)','')
df['Salary Estimate']=df['Salary Estimate'].str.replace(' \(\)','')
df['Salary Estimate']=df['Salary Estimate'].str.replace('\)','')
df['Salary Estimate']=df['Salary Estimate'].str.replace('K','000')
df['Salary Estimate']=df['Salary Estimate'].str.replace('$','')
df['Salary Estimate']=df['Salary Estimate'].str.replace(' Per Hour\(','')
df['Salary Estimate']=df['Salary Estimate'].str.replace('\(Employer est.','')
df['Salary Estimate']=df['Salary Estimate'].str.replace('Employer Provided Salary:','')
df['Salary Estimate']=df['Salary Estimate'].str.replace('Per Hour','')

<ipython-input-32-8dd4fd7bb20f>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Salary Estimate']=df['Salary Estimate'].str.replace('(Glassdoor est.)','')
<ipython-input-32-8dd4fd7bb20f>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Salary Estimate']=df['Salary Estimate'].str.replace(' \(\)','')
<ipython-input-32-8dd4fd7bb20f>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Salary Estimate']=df['Salary Estimate'].str.replace('\)','')
<ipython-input-32-8dd4fd7bb20f>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Salary Estimate']=df['Salary Estimate'].str.replace('$','')
<ipython-input-32-8dd4fd7bb20f>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Salary Estimate']=df['Salary Estimate'].str.replace(' Per Hour\(','')
<ipython-input-32-8dd4fd7bb20f>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Salary Estimate']=df['Salary Estimate'].str.replace('\(Employer est.','')

In [33]:
arr=df['Salary Estimate'].str.split('-',expand=True)
df['min_salary']=arr[0]
df['max_salary']=arr[1]
df.min_salary=df.min_salary.astype(int)
df.max_salary=df.min_salary.astype(int)

In [34]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary'],
      dtype='object')

In [35]:
df['Company Name']=df['Company Name'].str.split('\n',expand=True)[0] # Split Company Name and take only Company Name

In [36]:
df.drop(['Unnamed: 0'],axis=1,inplace=True) # Drop Unnamed: 0 Column because it is not useful

In [37]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary'],
      dtype='object')

In [38]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary
0,Data Scientist,53000-91000,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,53000,53000
1,Healthcare Data Scientist,63000-112000,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,63000,63000
2,Data Scientist,80000-90000,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,80000,80000
3,Data Scientist,56000-97000,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",56000,56000
4,Data Scientist,86000-143000,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",86000,86000

In [39]:
df.to_csv("Cleaned_Glassdor_Data")